@media only screen and (min-width: 917px) {
    nav, .templeinfo h1, .contactinfo h4 {
        text-align: left;
    }
    .templeinfo img {
        width: 40%;
        height: auto;
        float: left;
        margin: 2%;
    }
    .templeinfo {
        padding-bottom: 135px;
    }
    .pagetitle {
        font-size: 2.5rem;
        margin-left: 2%;
    }
    nav ul {
        margin-left: 33px;
        padding-left: 0;
    }
    .contactinfo {
        padding-left: 33px;
    }
    /* Contact Page */
    .pagetitle {
        text-align: left;
    }
    .contactform input {
        height: 30px;
        width: 50%;
    }
    .contactform textarea {
        height: 100px;
        width: 50%;
    }
    .mainheadquarters {
        text-align: left;
    }
    .mainheadquarters iframe {
        margin: 2% 0 2% 0;
        width: 80%;
    }
    .contactform button {
        height: 30px;
    }
}