@media only screen and (min-width: 540px) {
    body {
        max-width: 900px;
        margin: auto;
    }
    header {
        margin: 0;
    }
    nav {
        text-align: center;
        margin: 0;
    }
    nav button {
        display: none;
    }
    nav ul {
        max-width: 100%;
        margin: 0;
    }
    nav ul.hide {
        display: block;
    }
    nav li {
        display: inline;
        width: auto;
    }
    nav a {
        display: inline-block;
        border: none;
    }
    .pagetitle {
        font-size: 1.75rem;
    }
    .templeinfo p, .contactinfo, footer {
        font-size: 1.125rem;
    }
    header img {
        margin-left: 30px;
        margin-top: 25px;
    }
    /* Contact Page */
    .mainheadquarters iframe {
        max-width: 550px;
    }
    .contactform input {
        height: 45px;
        width: 75%;
    }
    .contactform textarea {
        height: 100px;
        width: 75%;
    }
    .contactform button {
        margin: 2% 5.5%;
    }
    /*Reservations*/
    .resform input {
        height: 45px;
        width: 70%;
    }
    .resform textarea {
        width: 70%;
    }
    /*Temple*/
    .temple {
        grid-template-columns: 47% 47%;
    }
}