@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro|ZCOOL+XiaoWei'); 
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}
body {
    background-color: #c6c7c4;
    padding:0 2% 0 2%;
}
header {
    background-color: #a2999e;
    display: grid;
    grid-template-columns: 130px auto;
    margin-bottom: 0;
    padding-right: 2%;
}
.headertext {
    text-align: right;
    margin: 2%;
}
header img {
    margin-right: 30px;
    margin: 30px 30px 2% 24px;
    padding: 2%;
}
header h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    color: #353b3c;
}
header h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: #353b3c;
}
nav {
    background-color: #a2999e;
    font-family: 'Source Sans Pro', sans-serif;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    color: #846a6a;
    border: none;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
}
nav ul {
    list-style: none;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: .5rem .57rem;
    border-top: 1px solid rgba(0,0,0,0.3);
    color: #eef0f2;
}
nav ul.hide {
    display: none;
}
nav a.active {
    background-color: #846a6a;
}
nav a:hover {
    background-color: #eef0f2;
    color: #353b3c;
}

.banner img, .banner {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.pagetitle {
    color: #353b3c;
    text-align: center;
}
.calltoaction {
    color: #353b3c;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 6%;
}
.calltoaction a:link {
    color: #353b3c;
}
.calltoaction a:hover {
    color: #846a6a;    
}
.templeinfo img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.templeinfo {
    background-color: #846a6a;
    padding: 2%;
}
.templeinfo h1 {
    text-align: center;
    color: #eef0f2;
    margin: 5%;
}
.templeinfo p {
    color: #eef0f2;
    font-family: 'Source Sans Pro', sans-serif;
}
.contactinfo {
    border: 1px solid #353b3c;
    border-radius: 15px;
    margin-top: 2%;
    padding: 2%;
    font-family: 'Source Sans Pro', sans-serif;
}
.contactinfo h4 {
    margin: 0 0 2% 0;
    text-align: center;
}
.contact {
    display: grid;
    grid-template-columns: 40% auto 30%;
    margin-bottom: 2%;
}
footer {
    background-color: #a2999e;
    margin-top: 2%;
    padding: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
/* contact page*/

.mainheadquarters {
    text-align: center;
    color: #353b3c;
    margin: 2%;
}
.mainheadquarters h3 {
    font-size: 1.5rem;
}
.mainheadquarters iframe {
    width: 96%;
    margin: 2%;
}
.contactform {
    background-color: #846a6a;
    color: #eef0f2;
}
.contactform h3 {
    padding: 4% 2% 1% 7.5%;
}
.contactform form {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 2% 0 2%;
}
.contactform label div {
    margin: 2% 0 2% 0;
}
.mainheadquarters p {
    font-family: 'Source Sans Pro', sans-serif;
}
footer {
    margin-top: 0;
}
.contactform form fieldset {
    padding: 5%;
}
.contactform input {
    height: 45px;
    width: 90%;
}
.contactform textarea {
    height: 100px;
    width: 90%;
}
.contactform button {
    height: 45px;
    width: 90px;
    margin: 2% 6%;
}
/*message sent and request sent*/
.thankyou {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    color: #353b3c;
    margin-left: 2%;
}
/*services*/
.services {
    background-color: #846a6a;
    color: #eef0f2;
    margin: 2% 2% 0 2%;
    padding: 1%;
}
.services h4 {
    font-size: 1.25rem;
}
.services h3 {
    font-size: 1.4rem;
}
.services p {
   font-family: 'Source Sans Pro', sans-serif; 
   font-size: 1.1rem;
}
.services li {
    font-size: 1.2rem;
}
.needmore {
    font-family: serif;
}
.more {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #353b3c;
    color: #eef0f2;
    padding: 1%;
    margin: 0 2% 2% 2%;
}
.more a {
    color: #eef0f2;
}
.services li {
    margin-bottom: 5px;
}
/*Reservations*/
.resform {
    color: #353b3c;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.resform h2 {
    text-align: center;
}
.resform form {
    width: 96%;
}
.resform fieldset {
    font-family: 'Source Sans Pro', sans-serif;
}
.resform legend {
    margin: 0 1rem;
    padding: 0.4rem;
}
.resform div {
    margin: 2% 0 2% 0;
}
.resform input {
    height: 45px;
    width: 90%;
}
.resform textarea {
    width: 90%;
}
/*receptions*/
.reception img {
    width: 96%;
    height: auto;
}
.reception p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #353b3c;
}
/*missionaries*/
.missionarysuite img {
    width: 96%;
    height: auto;
}
.missionarysuite p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #353b3c;
}
/*Temple*/
.temple div {
    display: flex;
}
.clearfix:after {
    content:"";
    display: table;
    clear: both;
}